body {
    --background: #b5b5b5;
    --text: white;

    --theme: #539af1;

    --menu: #272727;
    --menu-text: white;

    --messages: rgb(55 55 55);
    --borders: rgb(169 169 169 / 35%);
    --shadows: rgb(35 35 35 / 0.75);

    --red: #FF5252;
    --green: #1DE9B6;
    --blue: #82B1FF;
    --yellow: #e6da38;
    --purple: #8061ee;
    --white: #ffffff;
    --black: #0f0f0f;
}