@font-face {
    font-family: 'Avignon PS Pro';
    src: url('avignon-ps-pro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avignon PS Pro';
    src: url('avignon-ps-pro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avignon PS Pro DemiBold';
    src: url('avignon-ps-pro-demibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avignon PS Pro DemiBold Italic';
    src: url('avignon-ps-pro-demibolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Avignon PS Pro', sans-serif !important;
    font-size: 1rem;
    line-height: 1.15rem;
    background: var(--background);
    margin: 0;
    color: var(--text);
}

@media only screen and (min-width: 1824px) {
    .page {
        margin: 0 10%;
    }
}

@media (max-device-width: 1024px) {
    .head {
        display: block !important;
    }
    .head>#main-menu>li {
        display: block;
        text-align: center;
        width: 100%;
    }
    .head>#main-menu>li>a {
        width: 100%;
    }
}

.page {
    margin-top: 10px;
}

.head {
    background: var(--menu);
    color: var(--menu-text);
    border-radius: 5px;
    margin: 5px;
    justify-content: center;
    font-weight: bold;
    display: flex;
    flex: 1 1 auto;
    box-shadow: 2.5px 5px 5px 0px var(--shadows);
}

.head>.title {
    color: var(--menu-text);
    line-height: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.25rem 1rem;
}

.head>.title>.sub {
    -webkit-text-fill-color: var(--menu-text);
    line-height: 14px;
    text-shadow: 0 0 13px;
    opacity: .65;
    font-size: .75rem;
    font-weight: normal;
    display: block;
}

.divider {
    margin: 0;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    line-height: 1;
    text-align: center;
    background: var(--borders);
    display: inline-block;
}

.horizontal.divider {
    margin: 5px 1em;
    width: calc(100% - 2em);
    height: 1px;
    display: block;
}

.vertical.divider {
    width: 1px;
    height: 1em;
    margin: 0 5px;
}

.invisible.divider {
    background: transparent;
    margin: 2em 1em;
}

.closing.divider {
    margin: 0 0 0 -2em;
    width: calc(100% + 4em);
    box-shadow: 0 5px 5px 0 var(--shadows);
}

#notice-title, .ui.message .icone .icon:before, .maintitle, #menu>.item:hover .name, #menu>.item:hover .icon, .title {
    color: var(--theme);
}

.message {
    position: relative;
    background: var(--messages);
    border-radius: 10px;
    padding: .75rem 1.75rem;
    margin: 1.25rem 0rem 1rem 1rem;
    box-shadow: 0px 0px 5px 0px var(--shadows), 5px 5px 5px 0px var(--shadows);
}

.message .icone.disabled {
    visibility: hidden;
}

.message .icone {
    color: var(--theme);
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.message .icone:before {
    content: "";
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: calc(50% - 1.5rem);
    left: -1.5rem;
    bottom: 0;
    border-radius: 1.5rem;
    background: var(--messages);
    box-shadow: -2.5px 0px 5px 0px var(--shadows), 4px 0px 10px 0px var(--messages);
}

.message .icone .icon:before {
    position: absolute;
    top: calc(50% - 10px);
    left: -13px;
}

.message .header:not(.ui) {
    padding-bottom: 5px;
}

.footer {
    text-align: center;
    text-shadow: 0 0 13px var(--theme);
}

::-webkit-scrollbar {
    background: var(--background);
}

/* Track */

::-webkit-scrollbar-track {
    border-radius: 0px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    border: 1px solid var(--borders);
    background: var(--messages);
}

::-webkit-scrollbar-thumb:window-inactive {
    width: 10px;
    border-color: transparent;
    background: transparent;
}

/* MESSAGES */

.page>#content>.message .bold {
    font-weight: bold;
}

.page>#content>.message .title {
    display: block;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.page>#content>.message img {
    border-radius: 5px;
    margin: 5px;
    width: calc(100% - 10px);
    height: auto;
}

.page>#content>.message .group {
    display: flex;
    width: 100%;
    align-self: center;
    vertical-align: middle;
}

.page>#content>.message .group.group-of-two>* {
    width: calc(50% - 10px) !important;
    align-self: center;
    vertical-align: middle;
}

.page>#content>.message .group.group-of-three>* {
    width: calc(33.333% - 10px) !important;
    align-self: center;
    vertical-align: middle;
}

.page>#content>.message .group.group-of-four>* {
    width: calc(25% - 10px) !important;
    align-self: center;
    vertical-align: middle;
}

.page>#content>.message .group img {
    border-radius: 5px;
    margin: 5px;
    height: auto;
}

.page>#content>.message img.small.avatar {
    max-width: 80px;
}

.page>#content>.message img.avatar {
    max-width: 150px;
    margin: 0 auto;
}

.page>#content>.message img.big.avatar {
    max-width: 250px;
}

.page>#content>.message img.huge.avatar {
    max-width: 350px;
}

.page>#content>.message .group.group-of-two img.avatar {
    max-width: 50%;
}

.page>#content>.message .group.group-of-three img.avatar {
    max-width: 33.333%;
}

.page>#content>.message .group.group-of-four img.avatar {
    max-width: 25%;
}

.page>#content>.message .center-aligned {
    text-align: center;
}

.page>#content>.message .left-aligned {
    text-align: left;
}

.page>#content>.message .right-aligned {
    text-align: right;
}

.main-menu {
    display: inline-block;
    vertical-align: middle;
}

.main-menu li {
    float: left;
    position: relative;
    list-style: none;
    margin: 0;
    padding: .75rem 0 0 0;
}

.main-menu li:not(:last-child) {
    padding: .75rem 1.25rem 0 0;
}

.main-menu li a {
    display: block;
    text-decoration: none;
    padding: 1rem 0 .5rem;
    max-height: calc(100% - 2.5px);
    color: var(--menu-text);
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
}

.main-menu>li>a:after, a:after, #Share:after {
    content: "";
    height: 2.5px;
    border-radius: 5px;
    width: 0%;
    background: radial-gradient(circle, var(--borders), transparent);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a, #Share {
    position: relative;
    width: fit-content;
    color: var(--theme);
    text-decoration: none;
    padding-bottom: 5px
}

a i, #Share i {
    color: var(--theme);
}

a:hover, #Share:hover {
    color: var(--text);
    text-decoration: none;
}

.main-menu>li>a:after {
    bottom: 2.5px !important;
}

a:hover::after, #Share:hover::after {
    bottom: 0px;
    width: 100%;
}

.main-menu>li:hover>a:after {
    width: 50%;
}

::-moz-selection {
    color: var(--text);
    text-shadow: 0 0 0;
    background: var(--theme);
}

::selection {
    color: var(--text);
    text-shadow: 0 0 0;
    background: var(--theme);
}

img::selection, a::selection {
    background: transparent;
}

#NOTICE {
    visibility: hidden;
    background-color: transparent;
    position: fixed;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-out;
}

#NOTICE.active {
    visibility: visible;
    display: flex;
    background: rgb(0 0 0 / 85%);
}

#notice-title {
    line-height: 1.5em;
    font-size: 1.25em;
    text-align: center;
    padding: 1em 0 .5em;
}

#notice-content {
    line-height: 1.25em;
    font-size: 1em;
    text-align: center;
    padding: .5em 0 1em;
}

#NOTICE .content {
    position: absolute;
    display: block;
    width: 75%;
    text-align: center;
    border-radius: 5px;
    background: var(--messages);
    box-shadow: 0px 0px 5px 0px var(--shadows), 5px 5px 5px 0px var(--shadows);
}

#NOTICE:not(.active) .content {
    background: transparent;
    box-shadow: none;
}

.transition {
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.page>#content {
    padding: 0 1em;
    overflow-y: auto;
}

.page>#content>.message+.divider {
    display: none;
}

#Share {
    padding: 0.5em 1em;
}

#Share:hover {
    border-radius: 5px;
    background-color: var(--theme);
}

a i:before {
    margin: 0 5px;
}

.code {
    position: relative;
    padding: 5px 10px;
    box-shadow: inset 0px 0px 5px 0px var(--shadows);
    white-space: pre;
    border-radius: 5px;
    font-size: .75rem;
    line-height: 1.25rem;
}

.code:before {
    content: "";
    position: absolute;
    border-radius: 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background-color: var(--background);
    opacity: 0.15;
}

span.red {
    color: var(--red);
}

span.green {
    color: var(--green);
}

span.blue {
    color: var(--blue);
}

span.yellow {
    color: var(--yellow);
}

span.purple {
    color: var(--purple);
}

span.white {
    color: var(--white);
}

span.black {
    color: var(--black);
}